<hr>
<div class="container">
    <div class="row" *ngFor='let p of profile'>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="centerBlock">
                <img class="img-responsive rounded-circle" src='{{p.url.slice(52)}}' alt="Profile Pic"
                    style="width: 100px; height: 100px;">
                <p class="small"> Location: {{p.url}} </p>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 align-self-center">
            <h1 class="text-center"> Welcome {{userService.firstname}} </h1>
        </div>
    </div>
</div>
<hr>