<div class="row py-5">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form (ngSubmit)="onLoginSubmit()">
      <h1 class="text-center"> Login </h1>
      <div class="form-group">
        <label for="username"> Username </label>
        <input type="text" class="form-control field" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"
          id="username" placeholder="Enter Username" required>
      </div>
      <div class="form-group">
        <label for="password"> Password </label>
        <input type="password" class="form-control field" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
          id="password" placeholder="Enter Password" required>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-danger"> Login </button>
      </div> <br>
      <p *ngIf="invalidLogin" class="text-center" style="color: red"> Invalid Credentials </p> <br>
      <p class="text-center"> New User? <a [routerLink]="['/Register']"> Register Here </a> </p>
    </form>
  </div>
</div>