<br>
<div class="container px-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#singleMedia"> Single Media </a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="singleMedia" class="container tab-pane active">
      <br>
      <h1 class="text-center"> Upload Single Media File</h1>
      <br>
      <div class="row">
        <label class="col-sm-2 col-form-label"> Browse </label>
        <div class="col-sm-10">
          <form (ngSubmit)="upload()" [formGroup]="form">
            <input ng-model="file_upload" name="file" type="file" (change)="fileChange($event)" #fileInput>
            <button type="submit" class="btn btn-danger field"> Upload </button>
          </form>
        </div>   
      </div>
      <br>
      <form *ngIf="showForm">
        <h3 class="text-center"> Pic Uploaded Successfully! </h3>
        <h3 class="text-center"> Enter Picture Details and Click Submit (Optional) </h3>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"> Title </label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" class="form-control field">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"> Description </label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control field" rows="5"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"> Tags </label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="tags" [ngModelOptions]="{standalone: true}" class="form-control field">
          </div>
        </div>
        <hr>
        <div class="text-center">
          <button type="submit" class="btn btn-danger field" (click)="saveData()"> Submit </button>
        </div>
      </form>
    </div>
  </div>
</div>