<br>
<div class="container px-2">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#BlockedAccount"> Blocked Accounts </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#AccountUpdate"> Account Update </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="BlockedAccount" class="container tab-pane fade">
            <app-blocked-accounts></app-blocked-accounts>
        </div>
        <div id="AccountUpdate" class="container tab-pane fade">
            <app-account-update></app-account-update>
        </div>
    </div>
</div>
